@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
*{box-sizing: border-box;}
body{
    margin: 0;
    font-family: Barlow, Fraunces;
    font-size: 18px;
}

:root{
    /* Primary colors */
    --softRed: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --darkCyan: hsl(167, 40%, 24%);
    --darkBlue: hsl(198, 62%, 26%);
    --darkModerateCyan: hsl(168, 34%, 41%);
    --blue: #3EBFFF;

    /* Neutral */
    --darkBlue: hsl(212, 27%, 19%);
    --darkGryishBlue: hsl(213, 9%, 39%);
    --darkBlueGrayish: hsl(232, 10%, 55%);
    --grayishBlue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
    /* fonts */
    --fraun: Fraunces;
    --barlow: Barlow;
}
a{
    text-decoration: none;
}
/* Navbar */
header{
    background-color: var(--blue);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo{
    font-family: var(--fraun);
    font-weight: bold;
    color: var(--white);
    font-size: 1.5rem;
}

.nav-links a{
    margin: 0 30px;
    color: var(--white);
}

/* Home */

.home{
    background-color: transparent;    
    margin: 0;
    padding: 0;
    min-width: 100%;
}
.home img{
    width: 100%;
    position: absolute;
    z-index: -1;
    margin: 0;
    top: 6px;
}

.we{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.we h1{
    font-size: 4rem;
    font-family: var(--fraun);
    color: var(--white);
}

.we img{
    width: 40px;
    height: 100px;
    margin: 250px;
}
/* Change the settings later */


/* Hamburger  for later in case doestn work*/
/* .hamburger{
    display: none;
    flex-direction: column;
    cursor: pointer;
} */

/* .line{
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    transition: .4s;
} */

/* Media Query for Hamburger */
@media screen and (max-width: 768px){
    .nav{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .nav-links{
        position: fixed;
        top: 0;
        right: -100%;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--blue);
        transition: right 0.4s ease-in-out;
    }

    .nav-links a {
        padding: 10px;
    }

    .nav-links.active{
        right: 0;
    }

    .hamburger{
        display: flex;
        flex-direction: column;
        cursor: pointer;
        z-index: 9999;
        padding: 10px;        
    }

    .line{
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin:  3px 0;
        transition: .4s;
    }

    /* home */
    .we{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: auto;
        width: 37%;
    }
    
    .we h1{
        font-size: 1rem;
        font-family: var(--fraun);
        color: var(--white);
    }
    
    .we img{
        width: 15px;
        height: 50px;
        margin: 150px;
    }
}