@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Barlow;
  font-size: 18px;
}

:root {
  /* Primary colors */
  --softRed: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --darkCyan: hsl(167, 40%, 24%);
  --darkBlue: hsl(198, 62%, 26%);
  --darkModerateCyan: hsl(168, 34%, 41%);
  --blue: #3ebfff;

  /* Neutral */
  --darkBlue: hsl(212, 27%, 19%);
  --darkGryishBlue: hsl(213, 9%, 39%);
  --darkBlueGrayish: hsl(232, 10%, 55%);
  --grayishBlue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  /* fonts */
  --fraun: Fraunces;
  --barlow: Barlow;
}
a {
  text-decoration: none;
}
/* Navbar */
header {
  background-color: var(--blue);
  width: 100%;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  font-family: var(--fraun);
  font-weight: bold;
  color: var(--white);
  font-size: 1.5rem;
}

.nav-links a {
  margin: 0 30px;
  color: var(--white);
  font-size: .7rem;
}

#contact{
  color: var(--darkBlue);
  background-color: var(--white);
  padding: 10px 15px;
  border-radius: 15px;
}

/* Home */

.home {
  background-color: transparent;
  margin: 0;
  max-height: 800px;
  background-image: url("./img/header/image-header.jpg");
  background-repeat: no-repeat;
  background-size: 2000px;
}


.we {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.we h1 {
  font-size: 3rem;
  font-family: var(--fraun);
  color: var(--white);
}

.we img {
  max-width: 40px;
  max-height: 300px;
  align-items: flex-end;
  margin-top: px;
}

/* Egg  */
.egg__box {
  display: flex;
  width: 100%;
  margin: 0;
}

.egg__content{
  width: 50%;
  margin: 0px;
  padding: 25px;
  font-family: var(--fraun);
}

.egg__content h1{
  font-size: 1.8rem;
}

.egg__content p{
  color: var(--darkGryishBlue);
  font-size: 1rem;
}

.egg__content a {
  font-size: 1.5rem;
  text-decoration: underline;
  text-decoration-color: var(--yellow);
  text-decoration-thickness: 3px;
  color: black;
}

.egg__img{
  width: 50%;
  height: auto;
}

.egg__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#pink{
  text-decoration-color: var(--softRed);
}

/* Fruits */
.fruit{
  display: flex;
}

.fruit__box img{
  width: 100%;
  height: auto;
  content: fit;
}

.text__fruit{
  position: relative;
  bottom: 110px;
}


.text h1{
  font-size: 1rem;
  text-align: center;
}

.text p{
  font-size: .7rem;
  padding: 5px;
  text-align: center;
}

/* Testimonials */
#testimonials h1{
  text-align: center;
  font-family: var(--fraun);
  font-size: 1rem;
  color: var(--grayishBlue);
}

.test__container{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.personal{
  text-align: center;
  font-size: .8rem;
  color: var(--grayishBlue);
}

.names{
  font-weight: 700;
  color: black;
}

.jobs{
  font-size: .5rem;
}

.client img{
  width: 50px;
  border-radius: 50%;
}

/* Media Query for Hamburger */



